# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# IDE & editor
.vscode/
.idea/
convert-safari-command

# Claude Code
.claude/

# Node
node_modules/
npm-debug.log*

# tmp folder
tmp/

# Build output
dist/
